### 1. create table for testing

In [0]:
%sql
drop table if exists b2b_dev.default.EMP_M;

In [0]:
%sql
drop table if exists b2b_dev.default.EMP_M;
create table b2b_dev.default.EMP_M(empid int,
empname string,
salary double,
dept string);

insert the data into EMP_M table

In [0]:
%sql
insert into b2b_dev.default.EMP_M values 
(1, 'Ajay', 50000, 'owner'),
(2, 'Vijay', 60000, 'HR'),
(3, 'Rahul', 70000, 'manager'),
(4, 'Pragati', 80000, 'Finance'),
(5, 'Shiv', 90000, 'EMP'),
(6, 'deepesh', 100000, 'EMP');

num_affected_rows,num_inserted_rows
6,6

fetch the data from EMP_M table

In [0]:
%sql
select * from b2b_dev.default.EMP_M;

empid,empname,salary,dept
1,Ajay,50000.0,owner
2,Vijay,60000.0,HR
3,Rahul,70000.0,manager
4,Pragati,80000.0,Finance
5,Shiv,90000.0,EMP
6,deepesh,100000.0,EMP

### 2. create table for testing

In [0]:
%sql
drop table if exists b2b_dev.default.EMP_F;
create table b2b_dev.default.EMP_F(empid int,
empname string,
salary double,
dept string);

insert the data into "EMP_F" table

In [0]:
%sql
insert into b2b_dev.default.EMP_F values 
(1, 'Pragati', 50000, 'Finance'),
(2, 'Sonam', 60000, 'HR'),
(3, 'Nisha', 70000, 'manager'),
(4, 'Preeti', 80000, 'Finance'),
(5, 'Pratibha', 90000, 'EMP'),
(6, 'Manshi', 100000, 'EMP');

num_affected_rows,num_inserted_rows
6,6

Fetch the data from EMP_F table

In [0]:
%sql
SELECT * FROM b2b_dev.default.EMP_F;

empid,empname,salary,dept
1,Pragati,50000.0,Finance
2,Sonam,60000.0,HR
3,Nisha,70000.0,manager
4,Preeti,80000.0,Finance
5,Pratibha,90000.0,EMP
6,Manshi,100000.0,EMP

## here i have created two table where data is available related to Male and Female employees , for future also when need to perform the join and union operation in the code on that time we will use both table.