# DataFrame topics
- Method & various operations 
- Sorting data ASC Order

In [0]:
employees =[(101,"king","INDIA"),
            (102,"queen", "Canada"),
            (103,"princess", "USA"),
            (104,"ADARSH", "india"),
            (105,"JATIN", "USA"),
            (106,"SHIV", "UK"),
            (107,"PIYUSH", "USA")]

column =["employee_id","name","country"]
df= spark.createDataFrame(employees,column)

In [0]:
df.show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        101|    king|  INDIA|
|        102|   queen| Canada|
|        103|princess|    USA|
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        106|    SHIV|     UK|
|        107|  PIYUSH|    USA|
+-----------+--------+-------+

### Check datatype

In [0]:
type(df)

pyspark.sql.connect.dataframe.DataFrame

### Sorting data ASC Order

Sort the data based on name column

In [0]:
#it will sort the data base on name column
df.sort("name").show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        107|  PIYUSH|    USA|
|        106|    SHIV|     UK|
|        101|    king|  INDIA|
|        103|princess|    USA|
|        102|   queen| Canada|
+-----------+--------+-------+

sort the data based on multiple column

In [0]:
df.sort("name","country").show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        107|  PIYUSH|    USA|
|        106|    SHIV|     UK|
|        101|    king|  INDIA|
|        103|princess|    USA|
|        102|   queen| Canada|
+-----------+--------+-------+

### Sorting data DESC order

In [0]:
from pyspark.sql.functions import col
df.sort(col("name").desc()).show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        102|   queen| Canada|
|        103|princess|    USA|
|        101|    king|  INDIA|
|        106|    SHIV|     UK|
|        107|  PIYUSH|    USA|
|        105|   JATIN|    USA|
|        104|  ADARSH|  india|
+-----------+--------+-------+

### Display top 5

In [0]:
df.head(5)

[Row(employee_id=101, name='king', country='INDIA'),
 Row(employee_id=102, name='queen', country='Canada'),
 Row(employee_id=103, name='princess', country='USA'),
 Row(employee_id=104, name='ADARSH', country='india'),
 Row(employee_id=105, name='JATIN', country='USA')]

Display top 5 from bottom

In [0]:
df.tail(5)

[Row(employee_id=103, name='princess', country='USA'),
 Row(employee_id=104, name='ADARSH', country='india'),
 Row(employee_id=105, name='JATIN', country='USA'),
 Row(employee_id=106, name='SHIV', country='UK'),
 Row(employee_id=107, name='PIYUSH', country='USA')]

### To know columns name

In [0]:

df.columns

['employee_id', 'name', 'country']

### To select specific columns

In [0]:
df.show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        101|    king|  INDIA|
|        102|   queen| Canada|
|        103|princess|    USA|
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        106|    SHIV|     UK|
|        107|  PIYUSH|    USA|
+-----------+--------+-------+

In [0]:
df.select("employee_id").show()

+-----------+
|employee_id|
+-----------+
|        101|
|        102|
|        103|
|        104|
|        105|
|        106|
|        107|
+-----------+

In [0]:
df.select("employee_id","name").show()

+-----------+--------+
|employee_id|    name|
+-----------+--------+
|        101|    king|
|        102|   queen|
|        103|princess|
|        104|  ADARSH|
|        105|   JATIN|
|        106|    SHIV|
|        107|  PIYUSH|
+-----------+--------+

In [0]:
df.show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        101|    king|  INDIA|
|        102|   queen| Canada|
|        103|princess|    USA|
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        106|    SHIV|     UK|
|        107|  PIYUSH|    USA|
+-----------+--------+-------+

### Remove\DROP column from dataFrame

In [0]:
df.drop("country").show()

+-----------+--------+
|employee_id|    name|
+-----------+--------+
|        101|    king|
|        102|   queen|
|        103|princess|
|        104|  ADARSH|
|        105|   JATIN|
|        106|    SHIV|
|        107|  PIYUSH|
+-----------+--------+

In [0]:
df.show()

+-----------+--------+-------+
|employee_id|    name|country|
+-----------+--------+-------+
|        101|    king|  INDIA|
|        102|   queen| Canada|
|        103|princess|    USA|
|        104|  ADARSH|  india|
|        105|   JATIN|    USA|
|        106|    SHIV|     UK|
|        107|  PIYUSH|    USA|
+-----------+--------+-------+

In [0]:
df.drop("country").show()

+-----------+--------+
|employee_id|    name|
+-----------+--------+
|        101|    king|
|        102|   queen|
|        103|princess|
|        104|  ADARSH|
|        105|   JATIN|
|        106|    SHIV|
|        107|  PIYUSH|
+-----------+--------+