In [0]:
df = (spark.read.format("csv")
.option("path","/FileStore/tables/B2B_EMPLOYEE-1.csv")
.option("header", "true")
.option("inferSchema", "true").load()
)

In [0]:
display(df)

S No,Emp_Code,EMPLOYEE_NAME,DOB,Age,Gender,Marital_Status
1,B2B00002,Vijay Patel,10-Mar-91,33,Male,Un-Married
2,B2B00005,Vinay Kumar Patel,11-Nov-99,24,Male,Un-Married
5,B2B00008,Nisha Patel,21-Jun-00,24,Female,Un-Married
6,B2B00009,Deepesh Patel,20-Feb-96,28,Male,Un-Married
7,B2B00010,Satish Kumar Patel,30-Jun-92,32,Male,Un-Married
8,B2B00011,Preeti Tiwari,05-Jun-99,25,Female,Un-Married
11,B2B00014,Piyush Singh,24-Jun-97,27,Male,Un-Married
12,B2B00015,Pratibha Namdeo,08-Jan-98,26,Female,Un-Married
13,B2B00018,Shubhanshu Paroha,25-May-98,26,Male,Un-Married
15,B2B00021,Sandeep Singh Verma,12-Oct-98,25,Male,Un-Married
16,B2B00022,Shiv Singh,25-Apr-97,27,Male,Un-Married
17,B2B00023,Sumit Kumar Chaurasia,19-Aug-99,24,Male,Un-Married
18,B2B00024,Adarsh Patel,26-Jan-03,21,Male,Un-Married
20,B2B00026,Rajneesh Patel,12-Jan-98,26,Male,Un-Married
22,B2B00028,Sumit Dwivedi,12-Jul-99,25,Male,Un-Married
23,B2B00029,Khusbu Patel,02-Feb-99,25,Female,Un-Married
25,B2B00031,Ashish Kumar Sen,03-May-00,24,Male,Un-Married

# add new column in file "**salary**"

In [0]:
newcol = df.withColumn("salary", df["age"]*2500)

In [0]:
display(newcol)

S No,Emp_Code,EMPLOYEE_NAME,DOB,Age,Gender,Marital_Status,salary
1,B2B00002,Vijay Patel,10-Mar-91,33,Male,Un-Married,82500
2,B2B00005,Vinay Kumar Patel,11-Nov-99,24,Male,Un-Married,60000
5,B2B00008,Nisha Patel,21-Jun-00,24,Female,Un-Married,60000
6,B2B00009,Deepesh Patel,20-Feb-96,28,Male,Un-Married,70000
7,B2B00010,Satish Kumar Patel,30-Jun-92,32,Male,Un-Married,80000
8,B2B00011,Preeti Tiwari,05-Jun-99,25,Female,Un-Married,62500
11,B2B00014,Piyush Singh,24-Jun-97,27,Male,Un-Married,67500
12,B2B00015,Pratibha Namdeo,08-Jan-98,26,Female,Un-Married,65000
13,B2B00018,Shubhanshu Paroha,25-May-98,26,Male,Un-Married,65000
15,B2B00021,Sandeep Singh Verma,12-Oct-98,25,Male,Un-Married,62500
16,B2B00022,Shiv Singh,25-Apr-97,27,Male,Un-Married,67500
17,B2B00023,Sumit Kumar Chaurasia,19-Aug-99,24,Male,Un-Married,60000
18,B2B00024,Adarsh Patel,26-Jan-03,21,Male,Un-Married,52500
20,B2B00026,Rajneesh Patel,12-Jan-98,26,Male,Un-Married,65000
22,B2B00028,Sumit Dwivedi,12-Jul-99,25,Male,Un-Married,62500
23,B2B00029,Khusbu Patel,02-Feb-99,25,Female,Un-Married,62500
25,B2B00031,Ashish Kumar Sen,03-May-00,24,Male,Un-Married,60000

# add "country" new column with fix values

In [0]:
from pyspark.sql.functions import lit

In [0]:
addcol = df.withColumn("country", lit("india"))

In [0]:
display(addcol)

S No,Emp_Code,EMPLOYEE_NAME,DOB,Age,Gender,Marital_Status,country
1,B2B00002,Vijay Patel,10-Mar-91,33,Male,Un-Married,india
2,B2B00005,Vinay Kumar Patel,11-Nov-99,24,Male,Un-Married,india
5,B2B00008,Nisha Patel,21-Jun-00,24,Female,Un-Married,india
6,B2B00009,Deepesh Patel,20-Feb-96,28,Male,Un-Married,india
7,B2B00010,Satish Kumar Patel,30-Jun-92,32,Male,Un-Married,india
8,B2B00011,Preeti Tiwari,05-Jun-99,25,Female,Un-Married,india
11,B2B00014,Piyush Singh,24-Jun-97,27,Male,Un-Married,india
12,B2B00015,Pratibha Namdeo,08-Jan-98,26,Female,Un-Married,india
13,B2B00018,Shubhanshu Paroha,25-May-98,26,Male,Un-Married,india
15,B2B00021,Sandeep Singh Verma,12-Oct-98,25,Male,Un-Married,india
16,B2B00022,Shiv Singh,25-Apr-97,27,Male,Un-Married,india
17,B2B00023,Sumit Kumar Chaurasia,19-Aug-99,24,Male,Un-Married,india
18,B2B00024,Adarsh Patel,26-Jan-03,21,Male,Un-Married,india
20,B2B00026,Rajneesh Patel,12-Jan-98,26,Male,Un-Married,india
22,B2B00028,Sumit Dwivedi,12-Jul-99,25,Male,Un-Married,india
23,B2B00029,Khusbu Patel,02-Feb-99,25,Female,Un-Married,india
25,B2B00031,Ashish Kumar Sen,03-May-00,24,Male,Un-Married,india


# **Remove column** "country"

In [0]:
addcol.drop("country").show()

+----+--------+--------------------+---------+---+------+--------------+
|S No|Emp_Code|       EMPLOYEE_NAME|      DOB|Age|Gender|Marital_Status|
+----+--------+--------------------+---------+---+------+--------------+
|   1|B2B00002|         Vijay Patel|10-Mar-91| 33|  Male|    Un-Married|
|   2|B2B00005|   Vinay Kumar Patel|11-Nov-99| 24|  Male|    Un-Married|
|   5|B2B00008|         Nisha Patel|21-Jun-00| 24|Female|    Un-Married|
|   6|B2B00009|       Deepesh Patel|20-Feb-96| 28| Male |    Un-Married|
|   7|B2B00010|  Satish Kumar Patel|30-Jun-92| 32|  Male|    Un-Married|
|   8|B2B00011|       Preeti Tiwari|05-Jun-99| 25|Female|    Un-Married|
|  11|B2B00014|        Piyush Singh|24-Jun-97| 27| Male |    Un-Married|
|  12|B2B00015|     Pratibha Namdeo|08-Jan-98| 26|Female|    Un-Married|
|  13|B2B00018|   Shubhanshu Paroha|25-May-98| 26|  Male|    Un-Married|
|  15|B2B00021| Sandeep Singh Verma|12-Oct-98| 25| Male |    Un-Married|
|  16|B2B00022|          Shiv Singh|25-Apr-97| 27|  Male|    Un-Married|
|  17|B2B00023|Sumit Kumar Chaur...|19-Aug-99| 24|  Male|    Un-Married|
|  18|B2B00024|        Adarsh Patel|26-Jan-03| 21|  Male|    Un-Married|
|  20|B2B00026|      Rajneesh Patel|12-Jan-98| 26|  Male|    Un-Married|
|  22|B2B00028|       Sumit Dwivedi|12-Jul-99| 25|  Male|    Un-Married|
|  23|B2B00029|        Khusbu Patel|02-Feb-99| 25|Female|    Un-Married|
|  25|B2B00031|    Ashish Kumar Sen|03-May-00| 24| Male |    Un-Married|
+----+--------+--------------------+---------+---+------+--------------+

#  remove marital_status column
>

In [0]:

addcol.drop("marital_status").show()

+----+--------+--------------------+---------+---+------+-------+
|S No|Emp_Code|       EMPLOYEE_NAME|      DOB|Age|Gender|country|
+----+--------+--------------------+---------+---+------+-------+
|   1|B2B00002|         Vijay Patel|10-Mar-91| 33|  Male|  india|
|   2|B2B00005|   Vinay Kumar Patel|11-Nov-99| 24|  Male|  india|
|   5|B2B00008|         Nisha Patel|21-Jun-00| 24|Female|  india|
|   6|B2B00009|       Deepesh Patel|20-Feb-96| 28| Male |  india|
|   7|B2B00010|  Satish Kumar Patel|30-Jun-92| 32|  Male|  india|
|   8|B2B00011|       Preeti Tiwari|05-Jun-99| 25|Female|  india|
|  11|B2B00014|        Piyush Singh|24-Jun-97| 27| Male |  india|
|  12|B2B00015|     Pratibha Namdeo|08-Jan-98| 26|Female|  india|
|  13|B2B00018|   Shubhanshu Paroha|25-May-98| 26|  Male|  india|
|  15|B2B00021| Sandeep Singh Verma|12-Oct-98| 25| Male |  india|
|  16|B2B00022|          Shiv Singh|25-Apr-97| 27|  Male|  india|
|  17|B2B00023|Sumit Kumar Chaur...|19-Aug-99| 24|  Male|  india|
|  18|B2B00024|        Adarsh Patel|26-Jan-03| 21|  Male|  india|
|  20|B2B00026|      Rajneesh Patel|12-Jan-98| 26|  Male|  india|
|  22|B2B00028|       Sumit Dwivedi|12-Jul-99| 25|  Male|  india|
|  23|B2B00029|        Khusbu Patel|02-Feb-99| 25|Female|  india|
|  25|B2B00031|    Ashish Kumar Sen|03-May-00| 24| Male |  india|
+----+--------+--------------------+---------+---+------+-------+

Drop multipale column

In [0]:
addcol.drop("country", "marital_status").show()

+----+--------+--------------------+---------+---+------+
|S No|Emp_Code|       EMPLOYEE_NAME|      DOB|Age|Gender|
+----+--------+--------------------+---------+---+------+
|   1|B2B00002|         Vijay Patel|10-Mar-91| 33|  Male|
|   2|B2B00005|   Vinay Kumar Patel|11-Nov-99| 24|  Male|
|   5|B2B00008|         Nisha Patel|21-Jun-00| 24|Female|
|   6|B2B00009|       Deepesh Patel|20-Feb-96| 28| Male |
|   7|B2B00010|  Satish Kumar Patel|30-Jun-92| 32|  Male|
|   8|B2B00011|       Preeti Tiwari|05-Jun-99| 25|Female|
|  11|B2B00014|        Piyush Singh|24-Jun-97| 27| Male |
|  12|B2B00015|     Pratibha Namdeo|08-Jan-98| 26|Female|
|  13|B2B00018|   Shubhanshu Paroha|25-May-98| 26|  Male|
|  15|B2B00021| Sandeep Singh Verma|12-Oct-98| 25| Male |
|  16|B2B00022|          Shiv Singh|25-Apr-97| 27|  Male|
|  17|B2B00023|Sumit Kumar Chaur...|19-Aug-99| 24|  Male|
|  18|B2B00024|        Adarsh Patel|26-Jan-03| 21|  Male|
|  20|B2B00026|      Rajneesh Patel|12-Jan-98| 26|  Male|
|  22|B2B00028|       Sumit Dwivedi|12-Jul-99| 25|  Male|
|  23|B2B00029|        Khusbu Patel|02-Feb-99| 25|Female|
|  25|B2B00031|    Ashish Kumar Sen|03-May-00| 24| Male |
+----+--------+--------------------+---------+---+------+