### frist create a varibale and store the data into variable, from which file you want to load the data into particuler table

In [0]:
insert_b2b_emp = spark.read.format('csv').options(header='true', inferSchema='true').load('/FileStore/tables/B2B_EMPLOYEE.csv')

### check data is reading as expected or not, then go to next steps

In [0]:
insert_b2b_emp.display()

S_No,Emp_No,EMPLOYEE_NAME,DOB,Age,Gender,Marital_Status
1,B2B00002,Vijay Patel,10-Mar-91,33,Male,Un-Married
2,B2B00005,Vinay Kumar Patel,11-Nov-99,24,Male,Un-Married
5,B2B00008,Nisha Patel,21-Jun-00,24,Female,Un-Married
6,B2B00009,Deepesh Patel,20-Feb-96,28,Male,Un-Married
7,B2B00010,Satish Kumar Patel,30-Jun-92,32,Male,Un-Married
8,B2B00011,Preeti Tiwari,05-Jun-99,25,Female,Un-Married
11,B2B00014,Piyush Singh,24-Jun-97,27,Male,Un-Married
12,B2B00015,Pratibha Namdeo,08-Jan-98,26,Female,Un-Married
13,B2B00018,Shubhanshu Paroha,25-May-98,26,Male,Un-Married
15,B2B00021,Sandeep Singh Verma,12-Oct-98,25,Male,Un-Married
16,B2B00022,Shiv Singh,25-Apr-97,27,Male,Un-Married
17,B2B00023,Sumit Kumar Chaurasia,19-Aug-99,24,Male,Un-Married
18,B2B00024,Adarsh Patel,26-Jan-03,21,Male,Un-Married
20,B2B00026,Rajneesh Patel,12-Jan-98,26,Male,Un-Married
22,B2B00028,Sumit Dwivedi,12-Jul-99,25,Male,Un-Married
23,B2B00029,Khusbu Patel,02-Feb-99,25,Female,Un-Married
25,B2B00031,Ashish Kumar Sen,03-May-00,24,Male,Un-Married
26,B2B00032,Golu vishwakrma,01-01-1995,30,male,married
27,B2B00033,Vipul shukla,30-10-1999,25,Male,Un-Married

##   1. approch through the DDL
- add a keyword "USING DELTA" at the end on DDL query

In [0]:
%sql
CREATE TABLE IF NOT EXISTS b2b_Dev.default.bittwobyte_emp(
    S_No INT,
    Emp_No STRING,
    EMPLOYEE_NAME STRING,
    DOB STRING,
    Age INT,
    Gender STRING,
    Marital_Status STRING
) USING delta;

In [0]:
%sql
select * from  b2b_Dev.default.bittwobyte_emp;

# 2. approch (insert data into table)
- if table is not present then it will create the table into you database schema
- if you folow this approch then you don't need to define infraschema and all that

In [0]:
%python
# Rename columns to remove invalid characters
for col in insert_b2b_emp.columns:
    new_col = col.replace(' ', '_').replace(';', '_').replace('{', '_').replace('}', '_') \
                 .replace('(', '_').replace(')', '_').replace('\n', '_').replace('\t', '_') \
                 .replace('=', '_')
    insert_b2b_emp = insert_b2b_emp.withColumnRenamed(col, new_col)

# Write to Delta table
insert_b2b_emp.write.format("delta") \
    .option("mergeSchema", "true") \
    .mode("overwrite") \
    .saveAsTable("b2b_Dev.default.bittwobyte_emp")

In [0]:
%sql
select * from b2b_Dev.default.bittwobyte_emp