In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName('Spark DataFrames').getOrCreate()

In [0]:
df = (spark.read.format("csv")
    .option("path","/FileStore/pyspark_Test.csv")
    .option("header", True)
    .option("inferSchema", True).load())

In [0]:
df.show()

+----+--------+--------------------+---------+---+------+--------------+
|S No|Emp Code|       EMPLOYEE NAME|      DOB|Age|Gender|Marital Status|
+----+--------+--------------------+---------+---+------+--------------+
|   1|B2B00002|         Vijay Patel|10-Mar-91| 33|  Male|    Un-Married|
|   2|B2B00005|   Vinay Kumar Patel|11-Nov-99| 24|  Male|    Un-Married|
|   5|B2B00008|         Nisha Patel|21-Jun-00| 24|Female|    Un-Married|
|   6|B2B00009|       Deepesh Patel|20-Feb-96| 28| Male |    Un-Married|
|   7|B2B00010|  Satish Kumar Patel|30-Jun-92| 32|  Male|    Un-Married|
|   8|B2B00011|       Preeti Tiwari|05-Jun-99| 25|Female|    Un-Married|
|  11|B2B00014|        Piyush Singh|24-Jun-97| 27| Male |    Un-Married|
|  12|B2B00015|     Pratibha Namdeo|08-Jan-98| 26|Female|    Un-Married|
|  13|B2B00018|   Shubhanshu Paroha|25-May-98| 26|  Male|    Un-Married|
|  15|B2B00021| Sandeep Singh Verma|12-Oct-98| 25| Male |    Un-Married|
|  16|B2B00022|          Shiv Singh|25-Apr-97| 27|  Male|    Un-Married|
|  17|B2B00023|Sumit Kumar Chaur...|19-Aug-99| 24|  Male|    Un-Married|
|  18|B2B00024|        Adarsh Patel|26-Jan-03| 21|  Male|    Un-Married|
|  20|B2B00026|      Rajneesh Patel|12-Jan-98| 26|  Male|    Un-Married|
|  22|B2B00028|       Sumit Dwivedi|12-Jul-99| 25|  Male|    Un-Married|
|  23|B2B00029|        Khusbu Patel|02-Feb-99| 25|Female|    Un-Married|
|  25|B2B00031|    Ashish Kumar Sen|03-May-00| 24| Male |    Un-Married|
+----+--------+--------------------+---------+---+------+--------------+

Fetching Single & Multiple column

In [0]:
df.select("EMPLOYEE NAME").show()

+--------------------+
|       EMPLOYEE NAME|
+--------------------+
|         Vijay Patel|
|   Vinay Kumar Patel|
|         Nisha Patel|
|       Deepesh Patel|
|  Satish Kumar Patel|
|       Preeti Tiwari|
|        Piyush Singh|
|     Pratibha Namdeo|
|   Shubhanshu Paroha|
| Sandeep Singh Verma|
|          Shiv Singh|
|Sumit Kumar Chaur...|
|        Adarsh Patel|
|      Rajneesh Patel|
|       Sumit Dwivedi|
|        Khusbu Patel|
|    Ashish Kumar Sen|
+--------------------+

In [0]:
df.select("EMPLOYEE NAME", "Age","marital status").display()

EMPLOYEE NAME,Age,marital status
Vijay Patel,33,Un-Married
Vinay Kumar Patel,24,Un-Married
Nisha Patel,24,Un-Married
Deepesh Patel,28,Un-Married
Satish Kumar Patel,32,Un-Married
Preeti Tiwari,25,Un-Married
Piyush Singh,27,Un-Married
Pratibha Namdeo,26,Un-Married
Shubhanshu Paroha,26,Un-Married
Sandeep Singh Verma,25,Un-Married
Shiv Singh,27,Un-Married
Sumit Kumar Chaurasia,24,Un-Married
Adarsh Patel,21,Un-Married
Rajneesh Patel,26,Un-Married
Sumit Dwivedi,25,Un-Married
Khusbu Patel,25,Un-Married
Ashish Kumar Sen,24,Un-Married

# Fetch the data by using col function- 
- for that we need to import the col function in header
syntex - "from pyspark.sql.functions import col"

In [0]:
df.select(col("EMPLOYEE NAME"), col("Age"), col("marital status")).display()

EMPLOYEE NAME,Age,marital status
Vijay Patel,33,Un-Married
Vinay Kumar Patel,24,Un-Married
Nisha Patel,24,Un-Married
Deepesh Patel,28,Un-Married
Satish Kumar Patel,32,Un-Married
Preeti Tiwari,25,Un-Married
Piyush Singh,27,Un-Married
Pratibha Namdeo,26,Un-Married
Shubhanshu Paroha,26,Un-Married
Sandeep Singh Verma,25,Un-Married
Shiv Singh,27,Un-Married
Sumit Kumar Chaurasia,24,Un-Married
Adarsh Patel,21,Un-Married
Rajneesh Patel,26,Un-Married
Sumit Dwivedi,25,Un-Married
Khusbu Patel,25,Un-Married
Ashish Kumar Sen,24,Un-Married